.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  margin: 0%;

}

nav div {
  align-items: center;
}

.about,
.resume,
.contact,
.feedback {
  font-size: 23px;
  margin: 20px;
  align-items: center;

}

.about a,
.resume a,
.contact a,
.feedback a {
  text-decoration: none;
  align-items: center;
  color: aliceblue;
}

nav a:hover {
  color: rgb(114, 173, 255);
}

.about:hover,
.resume:hover,
.contact:hover,
.feedback:hover {
  transform: scale(1.05);
}

body {
  background-image: linear-gradient(to bottom right, rgb(49, 70, 90), rgb(78, 37, 37), rgb(56, 56, 101));
 
  margin: 0%;
}

.me h1 {
  margin-top: 70px;
  margin-bottom: 70px;

  font-size: 64px;
}

.me {
  color: #fff;
  margin-left: 163px;
  padding: -1%;
}

.base {
  display: flex;
}

.base img {
  border-radius: 15px;
  margin: 47px;
  width: 30%;
}

.h {
  padding: 20px;
  color: #000;
  border-radius: 15px;
  background-image: linear-gradient(#f9f9f9ca, #f5f5f5b9, rgba(247, 247, 247, 0.704), rgba(239, 239, 239, 0.669));
  opacity: 0.65;
  ;
}

.basee {
  margin: 45px;
  float: right;
}

.basee img {
  filter: invert(100%);
  width: 35px;
  padding: 18px;
}

.basee a {
  text-decoration: none;

}

@media screen and (max-width: 600px) {


  .about,
  .resume,
  .contact,
  .feedback {
    font-size: 16px;
    margin: 2px;
    padding: 13px;
  }

  .base img {
    margin: 6%;
    width: 218px;
    height: 404px;
    margin-left: 76px;
  }



  .base {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .me {
    margin-top: 0px;
    margin: 5%;
  }

  .me h1 {
    display: flex;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .basee {
    margin: 10px;
  }

  .basee img {
    width: 13px;
    padding: 5px;
  }
}