

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(60, 69, 70);
  margin: 0%;
  
}

nav div {
  align-items: center;
}

.about,
.resume,
.contact,
.feedback {
  font-size: 23px;
  margin: 20px;
  align-items: center;
  
}

.about a,
.resume a,
.contact a,
.feedback a {
  text-decoration: none;
  align-items: center;
  color: aliceblue;
}
nav a:hover {
  color: rgb(114, 173, 255);
}

.about:hover,
.resume:hover,
.contact:hover,
.feedback:hover {
  transform: scale(1.05);
}

body {
  margin: 4%;
  background-color: rgb(158, 138, 138);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
}

.edu,
.pro,
.skill,
.int,
.act,
.ach,
.sum {
  opacity: 0.8;
  margin: 5%;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
}


.me h1 {
  font-size: 64px;
}

.intro img {
  margin-left: 5%;
  
  border-radius: 100%;
  width: 27%;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}

.intro {
  padding-left: 86px;
  padding-right:86px ;
  display: flex;
  margin-left: 44px;
  margin-top: 72px;
  

}

nav ul li {
  display: flex;
  float: right;
  color: white;
  text-decoration: none;

}

.me {
  color: #fff;
  margin-left: 250px;
  padding: -1%;
}