body {
    background-color: rgb(221, 217, 217);
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  nav div {
    align-items: center;
  }
  .about,
  .resume,
  .contact {
    font-size: 23px;
    margin: 20px;
    align-items: center;
  }
  .about a,
  .resume a,
  .contact a {
    text-decoration: none;
    align-items: center;
  }
  .info {
    font-size: 90px;
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  .mid img {
    width: 23%;
    border-radius: 50px;
    margin-left: 125px;
   
  }
  .mid {
    border-radius: 30px;
    background-color: rgb(201, 195, 195);
    display: flex;
    flex-direction: row;
    margin-top:  85px ;
    padding: 53px;
  }
  .mid:hover{
    
  }

  nav a:hover {
    text-decoration: underline;
  }